<div class="header">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet">
      <ul class="nav max-contained">
        <li class="nav__item nav__logo">
          <div class="mdl-grid">
            <!-- If desktop -->
            <div class="mdl-cell mdl-cell--12-col  mdl-cell--hide-tablet mdl-cell--hide-phone breaktime">
              <a href="/"><img src="/assets/images/staffjoy-logos/logo-white.svg" alt="Staffjoy Logo" class="main-logo"></a>
            </div>
            <!-- If mobile -->
            <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-desktop breaktime">
              <span class="breaktime logo-small">Breaktime </br>
                <span class="small-at-symbol">@</span>
              </span><img src="/assets/images/staffjoy-logos/logo-name.svg" class="breaktime small-img-logo" alt="Staffjoy Breaktime Logo">
            </div>
          </div>
        </li>
        <li class="nav__item">
          <a href="/">Home</a>
        </li>
        <li class="nav__item">
          <a href="/pricing/">Pricing</a>
        </li>
        <li class="nav__item">
          <a href="mailto:help@staffjoy.com" id="intercom-launcher">Support</a>
        </li>
        <li class="nav__item">
          <a href="https://blog.staffjoy.com/">Blog</a>
        </li>
        <li class="nav__item nav__item--desktop">
          <a href="/sign-up/" class="button button--outline">Sign Up</a>
        </li>
        <li class="nav__item nav__item--mobile">
          <a href="/sign-up/">Sign Up</a>
        </li>
      </ul>
      <ul>
        <div class="mdl-grid">
          <!-- Hide if mobile -->
          <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone">
            <li class="breaktime simple-text"> Breaktime</li>
          </div>
        </div>
      </ul>
      <ul class="logo-nav">
        <div class="mdl-grid">
          <!-- Hide if mobile -->
          <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone breaktime">
            <span class="breaktime at-symbol-large">@</span><img src="/assets/images/staffjoy-logos/logo-name.svg"  class="blog-logo" alt="Staffjoy Breaktime Logo">
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
