{{ template "header.tmpl" . }}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--1-offset-tablet">
    <div class="main-area">
      <img src="/assets/images/staffjoy-logos/logo-white.svg" alt="Staffjoy Logo">
      <h1>{{ .Title }}</h1>
      <a href="/" class="mdl-button mdl-button--raised mdl-button--accent">Return to home page</a>
    </div>
  </div>
</div>
{{ template "scripts.tmpl" . }}
</body>
</html>
