<div class="footer max-contained">
  <ul class="footer__block">
    <li class="footer__item footer__logo">
      <img src="/assets/images/staffjoy-logos/logo.svg?version={{ .Version }}" alt="Staffjoy Logo" height="37" width="120">
      <ul class="social">
        <li class="social__item">
          <a href="https://twitter.com/staffjoy"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </li>
        <li class="social__item">
          <a href="https://github.com/staffjoy"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </li>
        <li class="social__item">
          <a href="https://facebook.com/staffjoyapp"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        <li class="social__item">
          <a href="https://www.linkedin.com/company/6612912"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>
        <li class="social__item__instagram">
          <a href="https://www.instagram.com/staffjoy/" style="
            color: white;
            font-size: 20px;
            margin-top: -8px;
            line-height: 20px;
            top: -3px;
            position: relative;
            opacity: 1;">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </li>
    <li class="footer__item">
      <h5>Company</h5>
      <ul>
        <li><a href="/about/">About Us</a></li>
        <li><a href="/careers/">Careers</a></li>
        <li><a href="https://blog.staffjoy.com/" target="_blank">Blog</a></li>
        <li><a href="/breaktime/">Breaktime</a></li>
        <li><a href="/privacy-policy/">Privacy Policy</a></li>
        <li><a href="/terms/">Terms &amp; Conditions</a></li>
      </ul>
    </li>
    <li class="footer__item">
      <h5>Help</h5>
      <ul>
        <li><a href="https://help.staffjoy.com/">Help Pages</a></li>
        <li><a href="https://docs.staffjoy.com/">API Documentation</a></li>
        <li><a href="https://status.staffjoy.com/">System Status Page</a></li>
        <li><a href="mailto:help@staffjoy.com">help@staffjoy.com</a></li>
      </ul>
    </li>
    <li class="footer__item">
      <h5>Contact</h5>
      <ul>
        <li>
          Staffjoy, Inc.<br>
          1323 Columbus Ave., Floor 2<br>
          San Francisco, CA 94110<br>
          +1 443-578-3359<br>
          <a href="mailto:team@staffjoy.com">team@staffjoy.com</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

{{ template "scripts.tmpl" . }}
</body>
</html>
