<div class="header">
  <ul class="nav max-contained">
    <li class="nav__item nav__logo">
      <a href="/"><img src="/assets/images/staffjoy-logos/logo-white.svg" alt="Staffjoy Logo"></a>
    </li>
    <li class="nav__item">
      <a href="/">Home</a>
    </li>
    <li class="nav__item">
      <a href="/pricing/">Pricing</a>
    </li>
    <li class="nav__item">
      <a href="mailto:help@staffjoy.com" id="intercom-launcher">Support</a>
    </li>
    <li class="nav__item">
      <a href="/login/">
        Log In
      </a>
    </li>
    <li class="nav__item nav__item--desktop">
      <a href="/sign-up/" class="button button--outline">Sign Up</a>
    </li>
    <li class="nav__item nav__item--mobile">
      <a href="/sign-up/">Sign Up</a>
    </li>
  </ul>
</div>
