#breaktimeEpisode {
  background-color: #d8d8d8;
  .breaktime-container {
    background-color: #f7f7f7;
    padding-left: 20px;
    padding-right: 20px;
    .body-content{
      margin-top: 32px;
    }
    h1 {
      margin-top: 24px;
      margin-bottom: 36px;
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -2.7px;
      color: #423a3f;
    }
    h2{
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -1px;
      color: #423a3f;
      margin-bottom: 16px;
    }
    h3{
      margin-top: 48px;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.9;
      letter-spacing: -1px;
      color: #423a3f;
    }
    p, li {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: 0.1px;
      color: #423a3f;
      margin-bottom: 24px;
      a {
        color:  #48b7ab;
      }
      &li {
        padding-bottom: 18px;
      }
    }
    ul {
      list-style: disc;
      padding-left: 27px;
    }
  }
  img.cover {
    width: 100%;
    margin-bottom: 40px;
  }
  .share-icons{
    margin-top: 16px;
    display: inline-block;
    font-size: 26px;
    margin-bottom: 24px;
    width: 100%;
    border-bottom: 1px solid #9a9699;
    padding-bottom: 16px;
    .share-text{
      font-size: 12px;
    	font-weight: 600;
    	font-style: normal;
    	font-stretch: normal;
    	line-height: 2.0;
    	color: #9a9699;
      margin-right: 19px;
    }
    .share-icon{
      margin-right: 24px;
      vertical-align: middle;
    }
    .fa{
      color:#9a9699;
      &:hover {
        color:  #48b7ab;
      }
    }
  }

  .sign-up-form{
    max-width: none;
    margin-bottom: 80px;
    .mdl-button{
      width: 200px;
    }
    .sign-up-area{
      width: 60%;
      max-width: 400px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0;
      margin-right: 37px;
      padding-top: 20px;
      padding-left: 0px;
      .mdl-textfield__label{
        padding-left: 0px;
      }
    }
    .sign-up-submit{
      background-color: #48b7ab;
    }
  }
}
