<!DOCTYPE html>
<html lang=en>
    <meta charset=utf-8>
    <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
    <title>Error - {{ .Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <style>
        *{margin:0;padding:0}
        html{
            font-size: 15px; 
            font-family: 'Open Sans', sans-serif;
            background: #f7f7f7;
            padding:16px
            width: 100%;
        }
        h1 {
            font-size: 24px;
            font-weight: 300;
            letter-spacing: -1px;
            color: #423a3f;
            margin-top: 32px;
        }
        body{
            width: 100%;
            height: 100%;
        }
        p {
            margin:11px 0 22px;
            overflow:hidden
            line-height: 1.75;
            letter-spacing: normal;
            text-align: center;
            color: #423a3f;
            margin-top: 12px;
        }
        a {
            text-decoration: none;
            font-size: 16px;
            line-height: 1.75;
            text-align: center;
            color: #3daa9b;
            margin-top: 32px;
        }
        #container {
            padding: 20% 10%;
            max-width: 80%;
            width: 380;
            text-align: center;
            margin: 0 auto;
        }
        img {
            width: 340px;
            max-width: 100%;
        }
    </style>
    <body>

        <div id="container">
            <img src="data:image/png;base64,{{ .ImageBase64 }}" alt="Spilled Coffee" />
            <h1>{{ .Title }}</h1>
            <p>{{.Explanation}}</p>
            <p><a href="{{ .LinkHref }}">{{ .LinkText }}</a></p>
        </div>
        
        {{ if and (not (eq .SentryErrorID "")) (not (eq .SentryPublicDSN "")) }}
        <script src="https://cdn.ravenjs.com/2.1.0/raven.min.js"></script>
        <script>
        Raven.showReportDialog({
            // grab the eventId generated by the Sentry SDK
            eventId: '{{ .SentryErrorID }}',
            // use the public DSN (dont include your secret!)
            dsn: '{{ .SentryPublicDSN }}'
        });
        </script>
        {{ end }}
    </body>
</html>